<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--header-->
<div th:replace="~{fragments/header.html :: head}"></div>

<body>
<!--navbaar-->
<div th:replace="fragments/navbar.html"></div>

<div class="container w-50">
    <h2>Add Post</h2>
    <main class="form-label w-100 m-auto">
        <form th:action="@{/posts/new}" th:object="${post}" method="post" enctype="multipart/form-data">
            <label>Title:</label>
            <input type="text" th:field="*{title}" />

            <label>Content:</label>
            <textarea th:field="*{content}" rows="5"></textarea>

            <label>Image:</label>
            <input type="file" name="image" />

            <input type="submit" value="Add Post" />
        </form>
    </main>

</div>


</body>
</html>
