<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <link th:href="@{/css/header-bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/post-bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div class="container">

    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/logo.png}" alt="Firm Logo" />
            </a>
            <h1>DIY exchange</h1>
        </div>

        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a th:href="@{/home}" class="nav-link px-2">Home</a></li>
            <li><a th:href="@{/profile}" class="nav-link px-2">Profile</a></li>
            <li><a th:href="@{/my-posts}" class="nav-link px-2">My Posts</a></li>
            <li><a th:href="@{/settings}" class="nav-link px-2">Settings</a></li>
            <li><a th:href="@{/about}" class="nav-link px-2">About</a></li>
            <li><a th:href="@{/contact}" class="nav-link px-2">Contact</a></li>
        </ul>

        <div class="col-md-3 text-end">

            <div th:unless="${isLoggedIn}">
                <a th:href="@{/login}"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
                <a th:href="@{/register}"><button type="button" class="btn btn-primary">Sign-up</button></a>
            </div>
            <div th:if="${isLoggedIn}">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-outline-primary me-2">Logout</button>
                </form>
            </div>
        </div>
    </header>
</div>

<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/header-bootstrap.css}" type="text/css" />

<script type="text/javascript" th:src="@{/js/actions.js}"></script>

</body>
</html>

