<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link th:href="@{/css/header-bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/pagination.css}" rel="stylesheet">
    <link th:href="@{/css/post-bootstrap.css}" rel="stylesheet">
</head>
<body>
<!--header-->
<div th:replace="~{fragments/header.html :: body}"></div>

<!--body-->
<div class="container w-50">
    <h2>Latest Posts</h2>

    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="post" th:each="post : ${posts}">

            <div class="b-example-divider"></div>

            <div class="b-post-container">
                <div class="col-auto d-none d-lg-block" style="float: left">
                    <img th:src="@{'/pictures/' + ${post.pictures.get(0).getId()}}" alt="Post Image" />
                </div>

                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">
                        <a th:href="@{'/posts/' + ${post.id}}">
                            <span th:text="${post.title}"></span>
                        </a>
                    </h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                        <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                    </svg>
                    <p>Like count: <span th:text="${post.likedByUsers.size()}"></span></p>
                    <p>Added: <span th:text="${post.timestamp}"></span></p>
                </div>

            </div>
        </div>
    </div>

    <div class="pagination">
        <a th:href="@{/home(page=${currentPage - 1})}" th:if="${currentPage > 1}">&lt; Previous</a>
        <span th:text="${currentPage}"></span><span> of </span><span th:text="${totalPages}"></span>
        <a th:href="@{/home(page=${currentPage + 1})}" th:if="${currentPage < totalPages}">Next &gt;</a>
    </div>
</div>

<!--footer-->
<div th:replace="~{fragments/footer.html :: body}"></div>

</body>
</html>