<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>DIYexchange</title>
    <link th:href="@{/css/login-form-bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div class="container w-25 m-auto">
    <br><br>
</div>
<div class="container">
    <main class="form-signin w-25 m-auto">
        <form th:action="@{/login}" method="post">
            <a th:href="@{/}">
                <img class="mb-4" th:src="@{/img/logo.png}" alt="" width="72" height="57"/>
            </a>
            <h1 class="h3 mb-3 fw-normal">Please log in</h1>

            <br><br>
            <div th:if="${param.error}">
                <p class="error">Invalid username or password.</p>
            </div>
            <div th:if="${param.logout}">
                <p>You have been logged out.</p>
            </div>

            <div class="form-floating">
                <input type="text" name="username" class="form-control" id="floatingInput" placeholder="username">
                <label for="floatingInput">User name</label>
            </div><br>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div><br><br>

            <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
        </form>
    </main>
</div>

</body>
</html>