<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Posts</title>
</head>
<body>
<!--header-->
<div th:replace="~{fragments/header.html :: body}"></div>

<!--body-->
<div class="container">
    <h2>My Posts</h2>

    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="post" th:each="post : ${posts}">

            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">
                    <a th:href="@{'/posts/' + ${post.id}}">
                        <span th:text="${post.title}"></span>
                    </a>
                </h3>
                <p>Like count: <span th:text="${post.likedByUsers.size()}"></span></p>
            </div>

            <div class="col-auto d-none d-lg-block">
                <img th:src="@{'/pictures/' + ${post.pictures.get(0).getId()}}" alt="Post Image" />
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div th:replace="~{fragments/footer.html :: body}"></div>

</body>
</html>