<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${post.title}">Post Details</title>
</head>
<body>
<h1 th:text="${post.title}"></h1>
<p th:text="${post.content}"></p>

<h2>Pictures:</h2>
<div th:if="${post.pictures != null && post.pictures.size() > 0}">
    <div th:each="picture : ${post.pictures}">
        <img th:src="@{'/pictures/' + ${picture.id}}" alt="Post Image" />
    </div>
</div>

<h2>Comments:</h2>
<div th:if="${post.comments != null && post.comments.size() > 0}">
    <div th:each="comment : ${post.comments}">
        <p th:text="${comment.text}"></p>
        <p>Posted by: <span th:text="${comment.user.username}"></span></p>
    </div>
</div>

<h2>Liked By:</h2>
<div th:if="${post.likedByUsers != null && post.likedByUsers.size() > 0}">
    <ul>
        <li th:each="user : ${post.likedByUsers}" th:text="${user.username}"></li>
    </ul>
</div>

<!-- Add any other desired sections or details here -->
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title th:text="${post.title}">Post</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->