<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Post</title>
</head>
<body>
<h2>Add Post</h2>
<form th:action="@{/posts/new}" th:object="${post}" method="post" enctype="multipart/form-data">
    <label>Title:</label>
    <input type="text" th:field="*{title}" />

    <label>Content:</label>
    <textarea th:field="*{content}" rows="5"></textarea>

    <label>Image:</label>
    <input type="file" name="image" />

    <input type="submit" value="Add Post" />
</form>
</body>
</html>
