<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link th:href="@{/css/header-bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<!--header-->
<div th:replace="~{fragments/header.html :: body}"></div>

<div class="container w-50">

    <p>Followers: <span th:text="${followers.size()}"></span></p>
    <div th:each="follower : ${followers}">

        <span th:text="${follower}"></span>
    </div>
    <br><br>


    <p>Followings: <span th:text="${follows.size()}"></span></p>
    <div th:each="follow : ${follows}">

        <span th:text="${follow}"></span>
    </div>
<!--    Activity:-->
</div>

</body>
</html>